// Colors
$redF: #0c0808;
$red5: #000000;
$redA: #2c2c2c;
$skin: #eec39a;
$skinShadow: #d9a066;
$white: #ffffff;
$black: #000000;

$grid: 16;

// Map of colors
$colors: (
    1: $redF,
    2: $red5,
    3: $redA,
    4: $skin,
    5: $skinShadow,
    6: $white,
    7: $black
);

// Carmen Ansio
$Red: 0, 0, 0, 0, 0, 0, 2, 3, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 3, 1, 1,
    3, 2, 2, 2, 0, 0, 0, 0, 0, 0, 2, 3, 3, 1, 3, 2, 1, 1, 3, 3, 2, 0, 0, 0, 0, 2,
    3, 2, 1, 1, 1, 3, 2, 2, 1, 1, 3, 2, 0, 0, 2, 3, 2, 1, 1, 2, 1, 1, 1, 3, 2, 2,
    3, 2, 0, 0, 2, 3, 1, 1, 3, 5, 2, 3, 3, 1, 1, 3, 2, 1, 2, 2, 3, 1, 1, 1, 2, 4,
    5, 2, 2, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 2, 5, 4, 4, 5, 5, 2, 1, 1, 2, 2, 3, 3,
    2, 1, 3, 2, 5, 4, 4, 4, 4, 5, 2, 1, 3, 3, 2, 2, 3, 1, 2, 6, 7, 4, 4, 6, 7, 4,
    2, 1, 1, 1, 1, 3, 1, 2, 3, 5, 4, 4, 4, 4, 4, 4, 4, 2, 1, 3, 2, 2, 1, 3, 2, 5,
    4, 4, 4, 4, 4, 5, 2, 1, 1, 3, 2, 0, 2, 1, 3, 2, 5, 3, 4, 4, 4, 2, 1, 1, 3, 2,
    0, 0, 2, 1, 1, 3, 2, 5, 4, 4, 4, 3, 1, 1, 3, 2, 0, 0, 0, 2, 2, 3, 0, 4, 4, 4,
    5, 0, 3, 2, 2, 0, 0, 0, 0, 0, 4, 0, 0, 4, 4, 5, 0, 0, 5, 4, 0, 0, 0;

$Red2: 0, 0, 0, 0, 0, 0, 2, 3, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 3, 1, 1,
    3, 2, 2, 2, 0, 0, 0, 0, 0, 0, 2, 3, 3, 1, 3, 2, 1, 1, 3, 3, 2, 0, 0, 0, 0, 2,
    3, 2, 1, 1, 1, 3, 2, 2, 1, 1, 3, 2, 0, 0, 2, 3, 2, 1, 1, 2, 1, 1, 1, 3, 2, 2,
    3, 2, 0, 0, 2, 3, 1, 1, 3, 5, 2, 3, 3, 1, 1, 3, 2, 1, 2, 2, 3, 1, 1, 1, 2, 4,
    5, 2, 2, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 2, 5, 4, 4, 5, 5, 2, 1, 1, 2, 2, 3, 3,
    2, 1, 3, 2, 5, 4, 4, 4, 4, 5, 2, 1, 3, 3, 2, 2, 3, 1, 2, 7, 6, 4, 4, 7, 6, 4,
    2, 1, 1, 1, 1, 3, 1, 2, 3, 5, 4, 4, 4, 4, 4, 4, 4, 2, 1, 3, 2, 2, 1, 3, 2, 5,
    4, 4, 4, 4, 4, 5, 2, 1, 1, 3, 2, 0, 2, 1, 3, 2, 5, 3, 4, 4, 4, 2, 1, 1, 3, 2,
    0, 0, 2, 1, 1, 3, 2, 5, 4, 4, 4, 3, 1, 1, 3, 2, 0, 0, 0, 2, 2, 3, 0, 4, 4, 4,
    5, 0, 3, 2, 2, 0, 0, 0, 0, 0, 4, 0, 0, 4, 4, 5, 0, 0, 5, 4, 0, 0, 0;

$Red3: 0, 0, 0, 0, 0, 0, 2, 3, 3, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 3, 1, 1,
    3, 2, 2, 2, 0, 0, 0, 0, 0, 0, 2, 3, 3, 1, 3, 2, 1, 1, 3, 3, 2, 0, 0, 0, 0, 2,
    3, 2, 1, 1, 1, 3, 2, 2, 1, 1, 3, 2, 0, 0, 2, 3, 2, 1, 1, 2, 1, 1, 1, 3, 2, 2,
    3, 2, 0, 0, 2, 3, 1, 1, 3, 5, 2, 3, 3, 1, 1, 3, 2, 1, 2, 2, 3, 1, 1, 1, 2, 4,
    5, 2, 2, 1, 1, 1, 1, 1, 3, 3, 1, 1, 1, 2, 5, 4, 4, 5, 5, 2, 1, 1, 2, 2, 3, 3,
    2, 1, 3, 2, 5, 4, 4, 4, 4, 5, 2, 1, 3, 3, 2, 2, 3, 1, 2, 4, 4, 4, 4, 4, 4, 4,
    2, 1, 1, 1, 1, 3, 1, 2, 3, 5, 4, 4, 4, 4, 4, 4, 4, 2, 1, 3, 2, 2, 1, 3, 2, 5,
    4, 4, 4, 4, 4, 5, 2, 1, 1, 3, 2, 0, 2, 1, 3, 2, 5, 3, 4, 4, 4, 2, 1, 1, 3, 2,
    0, 0, 2, 1, 1, 3, 2, 5, 4, 4, 4, 3, 1, 1, 3, 2, 0, 0, 0, 2, 2, 3, 0, 4, 4, 4,
    5, 0, 3, 2, 2, 0, 0, 0, 0, 0, 4, 0, 0, 4, 4, 5, 0, 0, 5, 4, 0, 0, 0;

@function pixelart($pixel-list, $colors: $colors, $grid: $grid) {
    $shadows: ();
    $row: 0;
    $col: 1;

    @for $i from 1 through length($pixel-list) {
        @if (nth($pixel-list, $i) > 0) {
        $shadows: append(
            $shadows,
            ($col * 2px) ($row * 2px) 0 map-get($colors, nth($pixel-list, $i)),
            "comma"
        );
        }

        @if ($i % $grid == 0) {
        $row: $row + 1;
        $col: 0;
        }

        $col: $col + 1;
    }

    @return $shadows;
}


.avatar {
    display: flex;
    justify-content: center;
    background-color: #2c2c2c;
}

.carmen-ansio {
    width: 2px;
    height: 2px;
    animation: looking 3s infinite step-end;
    transform: scale(10);
    box-shadow: pixelart($Red);
}

@keyframes looking {
    0% {
        box-shadow: pixelart($Red);
    }
    50% {
        box-shadow: pixelart($Red3);
    }
    52% {
        box-shadow: pixelart($Red2);
    }
}
